
 
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-box">               
 	<div class="wrapper"><!--- wrapper Top --->
            <h2>Limits of Liability</h2>
            Policy Number: {{plcyNo}}
            <hr/>
            
            	
                <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12"  ng-repeat="limit in limits"> 
                    <span class="col-xs-12 col-sm-10 col-md-10 col-lg-10" style="color: #003">
                        <span style="font-size:14px; line-height:0.1em;">{{limit.LABEL}}:</span>
                     </span>
                     <span class="text-info  col-xs-12 col-sm-2 col-md-2 col-lg-2" > 
                        {{limit.AMOUNT || "N/A"}}
                     </span>
                 </div>
                 
                <div class="row" >
                <br/>
                    <a class="btn btn-danger btn-md" role="button" ng-click="cancelModal()">Close</a>
             	</div>
            
    </div><!--- / wrapper Top --->
 </div>