

 
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-box">               
 	<div class="wrapper"><!--- wrapper Top --->
    	<div ng-model="resetContent">
           <a href class="text-danger pull-right" ng-click="cancelModal()" style="font-size:20px"><i class="fa fa-times"></i> Close</a>
           <br/>
            <h2>Password Reset</h2>
            <!---<uib-alert  type="warning" ng-show="showResetMessage" close="showResetMessage = false"><b><i class="fa fa-exclamation-triangle"></i> {{resetContent}}</b></uib-alert>--->
            <hr/>
            <div  ng-show="!emailPassed" ng-init="emailPassed=false">
                To reset your password, enter your email address or policy number and press 'Ok'
                
                <div class=" alert " ng-class="{'alert-danger': emailResponseMessage}"><i class="fa fa-exclamation-triangle" aria-hidden="true" ng-show="emailResponseMessage"></i> {{emailResponseMessage }}</div>
               
                    <div ng-model="error"></div>
                    <label for="logInEmail" class="control-label">Email address/ Policy No.:</label><br/>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
                        <input type="text" id="emailForForgottenPwd" placeholder="Email address/ Policy No" class="form-control" ng-model="credentialsForForgottenPwd" /><br/>
                    </div>
              
                     <br/><br/>
                    <div class="row" >
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <a class="btn btn-clickAndGoBlue btn-lg" role="button" ng-click="checkEmailToReset()">
                        	Ok
                        	<span class="fa-stack   fa-1x">
                              <i class="fa fa-circle-thin fa-stack-2x"></i>
                              <i class="fa fa-check fa-stack-1x"></i>
                            </span>
                        </a>
                     </div>
                     <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        
                     </div>
                 </div>
                
            </div>
            <div ng-show="emailPassed" ng-init="resetSuccessful = false">
                <div class=" alert"  ng-class="{'alert-warning': showResetMessage}"><i class="fa fa-exclamation-triangle" aria-hidden="true" ng-show="showResetMessage"></i> {{showResetMessage}}</div>
                 <div ng-show="resetSuccessful">  
                 	
                    <div class="text-sucess" style="font-size:20px;">
                        <br />
                        This page will close automatically in  <b>{{countDown}}</b> seconds.
                    </div>
                </div>
                <div ng-show="!resetSuccessful"> <!-- !resetSuccessful -->
                    <div class="text-success"><i class="fa fa-check-square " aria-hidden="true"></i>   Great! We found your email. Now just answer your security question</div>
                    <br/>
                    <div ng-model="error"></div>
                    <label for="securityAns" class="control-label">{{securityQuestion}}</label><br/>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        <input type="text" id="securityAns" class="form-control" ng-model="securityAns" /><br/>
                    </div>
              
                     <br/><br/>
                    <div class="row" >
                    	<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        	<a class="btn btn-success btn-lg" role="button" ng-click="resetPwd()">Reset<span class="hidden-xs hidden-sm"> Password</span></a>
                     	</div>
                 	</div>
            	</div><!-- / !resetSuccessful -->
            </div>
            
         </div>
    </div><!--- / wrapper Top --->
 </div>
